.leaderboard-container {
    margin: 24px;
    border-radius: 10px;
    overflow: hidden;
    background: #ffffff;
    color: #1e293b;
    font-family: 'Bai Jamjuree', sans-serif;
}

.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.leaderboard-head th {
    background-color: #d34670;
    /* หรือ colors.primary */
    color: white;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
}

.leaderboard-row td {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
}

.user-cell {
    display: flex;
    align-items: center;
    gap: 8px;
}

.leaderboard-scroll {
    display: block;
    /* สำคัญ: เพื่อให้ scroll ได้ */
    max-height: 360px;
    overflow-y: auto;
    scrollbar-width: none;
}

.leaderboard-scroll::-webkit-scrollbar {
    display: none;
}

.leaderboard-footer {
    background-color: #d34670;
    color: white;
    font-weight: bold;
    padding: 8px;
    height: 20px;
}

.avatar-img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}

.leaderboard-table td:first-child,
.leaderboard-table th:first-child {
    text-align: center;
    vertical-align: middle;
}

.leaderboard-table th:last-child,
.leaderboard-table td:last-child {
    text-align: center;
    vertical-align: middle;
}